# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/Fusion/FileContentIndex/f53ee438-55d7-4c01-9849-28dc7c8df7de.vsidx
.vs/ProjectSettings.json
.vs/slnx.sqlite
*.vsidx
